apiVersion: v1
kind: Service
metadata:
  name: milvus-service
  namespace: app
spec:
  selector:
    app: milvus
  ports:
    - name: grpc
      port: 19530
      targetPort: 19530
    - name: metrics
      port: 9091
      targetPort: 9091
  type: ClusterIP